<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  El <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  es un proyecto para enseñar desenvolvimiento web a través del lenguaje
  <a href="http://rubyonrails.org/">Ruby on Rails</a>. Ésta página es un ejemplo de este tutorial
</p>