<% provide(:title, 'Help') %>
<h1>Ayuda</h1>
<p>
  Vas a obtener ayuda de Ruby On Rails en el
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  Para ayuda de este tutorial puedes ver
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>