<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    por Integradevs S.A.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de Nosotros",   about_path %></li>
      <li><%= link_to "Contactenos", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Noticias</a></li>
    </ul>
  </nav>
</footer>